<!-- ======= Home Section ======= -->
<section class="section">
    <div class="container">

        <div class="row justify-content-center text-center mb-5">
            <div class="col-md-5" data-aos="fade-up">
                <h2 class="section-heading">Características principales</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="">
                <div class="feature-1 text-center">
                    <div class="wrap-icon icon-1">
                        <span class="icon la la-eye"></span>
                    </div>
                    <h3 class="mb-3">Vigilancia</h3>
                    <p>Un nuevo método de saber si tu auto sigue en dónde lo dejaste. </p>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                <div class="feature-1 text-center">
                    <div class="wrap-icon icon-1">
                        <span class="icon la la-mobile-phone"></span>
                    </div>
                    <h3 class="mb-3">Registro móvil</h3>
                    <p>Podrás verificar si tu auto sigue ahí con sólo resvisar tu móvil.</p>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
                <div class="feature-1 text-center">
                    <div class="wrap-icon icon-1">
                        <span class="icon la la-clock-o"></span>
                    </div>
                    <h3 class="mb-3">Administra tu tiempo</h3>
                    <p>Puedes </p>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="section">

    <div class="container">
        <div class="row justify-content-center text-center mb-5" data-aos="fade">
            <div class="col-md-6 mb-5">
                <img src="assets/img/undraw_svg_1.svg" alt="Image" class="img-fluid">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="step">
                    <span class="number">01</span>
                    <h3>Regístrate</h3>
                    <p>Crea gratuitamente tu cuenta usando tu correo electrónico o Google.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="step">
                    <span class="number">02</span>
                    <h3>Crea un Perfil</h3>
                    <p>Actualiza tus datos, como tu foto de perfil, nombre o número de contacto.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="step">
                    <span class="number">03</span>
                    <h3>¡Listo!</h3>
                    <p>Todo estará listo para aprovechar al máximo de nuestra app.</p>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4 mr-auto">
                <h2 class="mb-4">Seamlessly Communicate</h2>
                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur at reprehenderit optio, laudantium eius quod, eum maxime molestiae porro omnis. Dolores aspernatur delectus impedit incidunt dolore mollitia esse natus beatae.</p>
                <p><a href="#" class="btn btn-primary">Download Now</a></p>
            </div>
            <div class="col-md-6" data-aos="fade-left">
                <img src="assets/img/undraw_svg_2.svg" alt="Image" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4 ml-auto order-2">
                <h2 class="mb-4">Gather Feedback</h2>
                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur at reprehenderit optio, laudantium eius quod, eum maxime molestiae porro omnis. Dolores aspernatur delectus impedit incidunt dolore mollitia esse natus beatae.</p>
                <p><a href="#" class="btn btn-primary">Download Now</a></p>
            </div>
            <div class="col-md-6" data-aos="fade-right">
                <img src="assets/img/undraw_svg_3.svg" alt="Image" class="img-fluid">
            </div>
        </div>
    </div>
</section>